<ion-header>
  <ion-navbar color="primary">
    <ion-title>Meus endereços</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items | async">
      <button ion-item text-wrap (click)="setSelectAddress(item)">{{ getAdreesText(item) }}</button>

      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="editItem(item)"><ion-icon name="create"></ion-icon></button>
        <button ion-button color="danger" (click)="removeItem(item.key)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="newItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
