<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Logradouro</ion-label>
      <ion-input type="text" formControlName="logradouro"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.logradouro.valid && (form.controls.logradouro.dirty || form.controls.logradouro.touched)"
      color="danger">
      <div [hidden]="!form.controls.logradouro.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Numero</ion-label>
      <ion-input type="text" formControlName="numero"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.numero.valid && (form.controls.numero.dirty || form.controls.numero.touched)" color="danger">
      <div [hidden]="!form.controls.numero.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Complemento</ion-label>
      <ion-input type="text" formControlName="complemento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Bairro</ion-label>
      <ion-input type="text" formControlName="bairro"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.bairro.valid && (form.controls.bairro.dirty || form.controls.bairro.touched)" color="danger">
      <div [hidden]="!form.controls.bairro.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Cidade</ion-label>
      <ion-input type="text" formControlName="cidade"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.cidade.valid && (form.controls.cidade.dirty || form.controls.cidade.touched)" color="danger">
      <div [hidden]="!form.controls.cidade.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>UF</ion-label>
      <ion-select formControlName="uf">
        <ion-option value="">- Escolha -</ion-option>
        <ion-option *ngFor="let uf of estados" [value]="uf">{{ uf }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!form.controls.uf.valid && (form.controls.uf.dirty || form.controls.uf.touched)" color="danger">
      <div [hidden]="!form.controls.uf.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>
