<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select [(ngModel)]="category" (ionChange)="getProducts()" interface="popover">
        <ion-option value="" [selected]="true">Todas</ion-option>
        <ion-option *ngFor="let category of categories | async" [value]="category.key">{{ category.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let item of items | async" (click)="addProduct(item)">
      <ion-avatar item-start [hidden]="item.imgUrl == ''">
        <img src="{{ item.imgUrl }}"  />
      </ion-avatar>
      <h1>{{ item.name }}</h1>
      <h2>{{ item.categoryName }}</h2>
      <pre text-wrap>{{ item.description }}</pre>
      <span class="price">{{ item.price | currency:'BRL':true }}</span>
    </ion-item>
  </ion-list>

  <ion-fab right bottom [hidden]="!showCartButton">
    <button ion-fab color="secondary" (click)="openCart()"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>
</ion-content>
