<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Exibir todos os pedidos</ion-label>
      <ion-checkbox color="dark" (ionChange)="getAllOrders($event)"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let order of items | async">
      <h1>Pedido {{ order.number }}</h1>
      <ion-grid>
        <ion-row *ngFor="let orderItem of order.items">
          <ion-col col-7>{{ orderItem.qtd }} - {{ orderItem.productName }}</ion-col>
          <ion-col col-5 text-right><span class="price">{{ orderItem.price | currency:'BRL':true }}</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7>Valor total</ion-col>
          <ion-col col-5 text-right><span class="price">{{ order.total | currency:'BRL':true }}</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            {{ getPaymentType(order.paymentType) }}
            <span [hidden]="order.paymentType != 1"> - Troco para: {{ order.changeTo || 0  | currency:'BRL':true }}</span>
            <span [hidden]="order.paymentType != 2">- {{ order.cardType }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12><b>Data:</b> {{ order.date }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12><b>Status: {{ getStatusName(order.status) }}</b></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
