<ion-header>
  <ion-navbar color="primary">
    <ion-title>Eu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>{{ user.name }}</ion-item>
    <ion-item>{{ user.email }}</ion-item>
    <button ion-item (click)="openMyAddresses()">Meus endereços</button>
    <button ion-item (click)="signOut()">Sair</button>
  </ion-list>
</ion-content>
