<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding text-center>
    <img src="assets/img/logo.png" />
  </div>

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
      <div [hidden]="!form.controls.email.errors.required">
        O campo é obrigatório
      </div>
      <div [hidden]="!form.controls.email.errors.email">
        O e-mail é invalido
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.password.valid && (form.controls.password.dirty || form.controls.password.touched)" color="danger">
      <div [hidden]="!form.controls.password.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Entrar</button>
    </div>
  </form>

  <button ion-button block color="dark" clear margin-top (click)="forgotPassword()">Esqueci minha senha</button>
  <button ion-button block color="dark" clear (click)="signup()">Criar uma conta</button>
</ion-content>
