<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ title }}</h1>
  <pre text-wrap>{{ description }}</pre>
  <span class="price">Preço {{ price | currency:'BRL':true }}</span>

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Quantidade</ion-label>
      <ion-input type="number" min="0" step="1" formControlName="qtd" (ionChange)="qtdChanged($event)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.qtd.valid && (form.controls.qtd.dirty || form.controls.qtd.touched)" color="danger">
      <div [hidden]="!form.controls.qtd.errors.required">
        O campo é obrigatório
      </div>
      <div [hidden]="!form.controls.qtd.errors.minValue">
        O valor mínimo para o campo é de 1
      </div>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button block color="primary" (click)="addQtd()"><ion-icon name="add"></ion-icon></button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block color="primary" (click)="removeQtd()"><ion-icon name="remove"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <h2 text-right>Total: <span class="price">{{ total | currency:'BRL':true }}</span></h2>

    <ion-item>
      <ion-label stacked>Observação</ion-label>
      <ion-textarea formControlName="obs"></ion-textarea>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Adicionar ao carrinho</button>
    </div>
  </form>

</ion-content>
